# local dev server port, start local dev server by `npm run start`
PORT=6066
APP_HOST=localhost
APP_SERVER=https://xxxx.ngrok.io
APP_SERVER_SECRET_KEY=sampleKey

# github
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
SCOPES=
TEST_REPO_NAME=

# db uri
DATABASE_CONNECTION_URI=sqlite://./db.sqlite
# client-side UI asset path
ASSETS_PATH=http://localhost:8081
