# local dev server port, start local dev server by `npm run start`
PORT=6066
APP_HOST=localhost
APP_SERVER=https://xxxx.ngrok.io
APP_SERVER_SECRET_KEY=sampleKey

# auth url
AUTH_URL=https://github.com/login/oauth/authorize?scope=admin:repo_hook read:user

# github
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

TEST_REPO_NAME=

# db uri
DATABASE_CONNECTION_URI=sqlite://./db.sqlite
# client-side UI asset path
ASSETS_PATH=http://localhost:8081
