# local dev server port, start local dev server by `npm run start`
PORT=6066
APP_HOST=localhost
APP_SERVER=https://xxxxx.ngrok.io
APP_SERVER_SECRET_KEY=sampleKey

# Gitlab
API_SERVER=https://gitlab.com
TEST_PROJECT_NAME=

# 3rd party Oauth
CLIENT_ID=
CLIENT_SECRET=
ACCESS_TOKEN_URI=https://gitlab.com/oauth/token
AUTHORIZATION_URI=https://gitlab.com/oauth/authorize
SCOPES=
SCOPES_SEPARATOR=,

# RingCentral developer portal
IM_SHARED_SECRET=

# db uri
DATABASE_URL=sqlite://./db.sqlite
# client-side UI asset path
ASSETS_PATH=http://localhost:8081