# local dev server port, start local dev server by `npm run start`
PORT=6066
APP_HOST=localhost
APP_SERVER=https://xxxxxxx.ngrok.io
APP_SERVER_SECRET_KEY=sampleKey

# 3rd party Oauth
CLIENT_ID=
CLIENT_SECRET=
ACCESS_TOKEN_URI=https://app.asana.com/-/oauth_token
AUTHORIZATION_URI=https://app.asana.com/-/oauth_authorize
SCOPES=default
SCOPES_SEPARATOR=,

# RingCentral developer portal
IM_SHARED_SECRET=

# db uri
DATABASE_CONNECTION_URI=sqlite://./db.sqlite
# client-side UI asset path
ASSETS_PATH=http://localhost:8081