body {
  margin: 0;
  padding: 0;
}
#container {
  font-family: Lato,Helvetica,Arial,sans-serif;
  font-size: 13px;
  tab-size: 4;
  line-height: 1.42;
  text-align: left;
  white-space: pre-wrap;
  box-sizing: border-box;
  overflow-y: auto;
  padding: 3px 15px;
}

#container p {
  cursor: text;
  margin: 0;
  padding: 9px 0;
}

p img {
  max-width: 100%;
}

.webhookURLArea {
  display: flex;
}

.input {
  height: 40px;
  outline: 0;
  border: 1px solid rgb(206, 209, 217);
  border-radius: 4px;
  box-sizing: border-box;
  padding: 0px 16px;
  flex: 1;
  margin-right: 8px;
  background-color: rgb(249, 249, 250);
}

#input:focus {
  border: 1px solid rgb(68, 117, 253);
  background-color: #ffffff;
}

#copyBtn {
  border-radius: 4px;
  border: 1px solid rgb(224, 224, 224);
  color: rgb(115, 121, 131);
  overflow: hidden;
  transform: translate3d(0px, 0px, 0px);
  transition: background 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background: #ffffff;
  cursor: pointer;
}

#copyBtn:hover {
  background: rgba(115, 121, 131, 0.12)
}

#copyBtn img {
  width: 24px;
  height: 24px;
}

.authTokenArea {
  display: flex;
}

.button {
  text-transform: none;
  font-size: 0.9375rem;
  font-weight: 700;
  font-family: Lato, Helvetica, Arial, sans-serif;
  line-height: 20px;
  text-align: center;
  box-shadow: unset;
  min-width: 96px;
  min-height: 36px;
  padding: 8px 16px;
  border: 0;
  margin: 0;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
}

.button:focus {
  outline: 0;
}

#authBtn {
  color: rgb(255, 255, 255);
  background-color: rgb(68, 117, 253);
}

#authBtn:hover {
  background-color: rgba(68, 117, 253, 0.88);
}

#authCancelBtn {
  color: rgb(68, 117, 253);
  margin-right: 8px;
  display: none;
}

#authCancelBtn:hover {
  background-color: rgba(68, 117, 253, 0.12);
}
